@charset "UTF-8";

.ul {
	width: 800px;
	height: 30px;
	background: #7BC4FF;
	list-style: none;
	padding: 5px
}

.li {
	float: left;
	margin-right: 10px;
	position: relative;
	left: +30%
}

.a {
	font-size: 12px;
	color: black;
	text-decoration: none
}

.bul{
	background:#7BC4FF;
	width:100px;
	height:700px
}
.li1{
	
	list-style: none;
	margin-bottom: 10px;
	position: relative;
	left: -20%
}
.a1 {
	text-decoration: none;
	color: white;
	
}
h1, h2, h3 {
	color: #FFB725
}

table {
	border-collapse: collapse; 
	border-top: 3px solid #FFB725;
	border-bottom: 2px solid #FFB725
}

th {
	border-bottom: 1px solid #FADEA6;
	background: #FADEA6
}

td {
	
	border-bottom: 1px solid #FADEA6;
}

tr:hover {
	
}
tr:nth-child(even){
	background: #FFF7E8;
}
div {
	background: #FEF6E8
}

#footer {
	
	height: 35px;
	background: #FADEA6;
	color: #936200;
}
.iframe {
	border: none;
	
}


